.login-body {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  color: white;
  background-image: url("../../../public/images/loginBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-form-section {
  flex: 1;
  padding: 0rem 1.5rem;
}

.login-form {
  height: 80%;
  padding: 0rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form > input {
  margin: 1rem 0rem;
  padding: 0.6rem 0rem;
  border: none;
  border-bottom: 2px solid #141414;
  background-color: transparent;
}

.login-form > input::placeholder {
  color: #141414;
}

.login-btn {
  padding: 0.8rem 4rem;
  color: white;
  background-color: #087bcf;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}

.goto-signup {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.login-side-section {
  flex: 1;
  background-color: rgba(55, 55, 55, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 0px 0px 15px;
}

.login-side-text {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2rem;
  letter-spacing: 10px;
}
